# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# Streamlit
.streamlit/
.streamlit/secrets.toml

# Logs
*.log

# Environment variables
.env

# Temporary files
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db